<style>
</style>

<div class="col-xs-10 col-xs-offset-1">
    <section id="comments-section" class="">
        <div class="panel panel-default">
            <div class="panel-body">
                <h3>Comments:</h3>
            </div>
        </div>

        <div ng-repeat="comment in vm.comments">
            <div class="well">
                <div class="my-content-header">
                    <div class="my-user-item">
                        <a class="my-user-username" ui-sref="profile({ username: comment.user.username })"
                           ng-click="$event.stopPropagation()">
                            <img class="my-user-avatar" src="http://i.stack.imgur.com/Dj7eP.jpg">
                                {{comment.user.username}}</a>
                        <div class="my-user-date">
                            <span>{{ comment.updated_at | date: 'd, MMM, yyyy' }}</span>
                        </div>

                        <div class="my-user-options dropdown"
                             ng-if="vm.user.username === comment.user.username">
                            <span class="dropdown-toggle" data-toggle="dropdown">
                                <i class="material-icons teal">more_vert</i>
                            </span>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a href="#" class="no-margin btn btn-primary" ng-click="vm.doEdit($index)"><h5>Edit</h5></a></li>
                                <li><a href="#" class="no-margin btn btn-danger" ng-click="vm.doDelete($index)">
                                    <h5>Delete</h5>
                                </a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="my-content-body">
                    <h4 class="text-adjust" ng-if="!comment.editMode">{{comment.content}}</h4>

                    <form ng-submit="vm.submit($index)" ng-if="comment.editMode">
                        <div class="form-group no-margin" ng-class="{'has-error': comment.errors.content}">
                            <label class="control-label">Content</label>
                            <textarea class="form-control"
                                      name="content"
                                      rows="2"
                                      required
                                      auto-grow-dir
                                      message="comment.content"
                                      ng-model="comment.content">
                            </textarea>
                        </div>
                        <span class="help" ng-if="comment.errors.content"
                              ng-bind="comment.errors.content"></span>
                        <div class="form-group no-margin">
                            <div class="text-right">
                                <button type="button" class="btn btn-warning"
                                        ng-click="comment.editMode = !comment.editMode">Cancel</button>
                                <button type="submit" class="btn btn-raised btn-primary">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="my-content-footer">
                    <span class="">
                        <i class="material-icons teal">favorite</i>
                        <i class="material-icons teal">favorite_border</i>
                    </span>
                </div>
            </div>
        </div>

        <div>
            <div class="well">
                <form name="vm.form" ng-submit="vm.submit()">
                    <div class="form-group label-static" ng-class="{'has-error': vm.comment.errors.content}">
                        <label for="content" class="control-label">Content</label>
                        <textarea class="form-control"
                                  id="content"
                                  name="content"
                                  rows="2"
                                  placeholder="ex. This is my first time posting on NotGooglePlus!"
                                  required
                                  auto-grow-dir
                                  message="vm.comment.content"
                                  ng-model="vm.comment.content">
                        </textarea>
                        <span class="help" ng-if="vm.comment.errors.content"
                              ng-bind="vm.comment.errors.content"></span>
                    </div>

                    <div class="form-group no-margin">
                        <div class="text-right">
                            <button type="submit" class="btn btn-raised btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </section>
</div>

