<div class="well box">
    <div class="my-article-container">
        <div class="my-content-header">
            <div class="my-user-item" ui-sref="articleDetail({ id: vm.article.id, article: vm.article })"
                 ui-sref-opts="{ reload: true }">
                <a class="my-user-username" ui-sref="profile({ username: vm.article.user.username })"
                   ng-click="$event.stopPropagation()">
                    <img class="my-user-avatar" ng-src="{{vm.article.user.image}}" ng-if="vm.article.user.image">
                    <img class="my-user-avatar" src="/app/images/avatars/1.png" ng-if="!vm.article.user.image">
                    +{{vm.article.user.username}}</a>
                <div class="my-user-date">
                    <span>{{ vm.article.updated_at | date: 'd, MMM, yyyy' }}</span>
                </div>
            </div>
        </div>

        <div class="my-content-body">
            <div class="text-center">
                <h1 class="text-adjust">{{vm.article.title}}</h1>
            </div>

            <div class="text-center">
                <h2 class="text-adjust">{{vm.article.description}}</h2>
            </div>

            <div class="my-content">
                <div class="text-adjust" ng-bind-html="vm.markdown(vm.article.content)"></div>
            </div>
        </div>
    </div>

    <div class="my-article-overlay" style=""></div>

    <div class="text-center">
        <a ui-sref="articleDetail({ id: vm.article.id })" ui-sref-opts="{ reload: true }">
            <h3>Read More</h3>
        </a>
    </div>

    <br>

    <ul class="nav nav-pills">
        <li class="active">
            <a ui-sref="articleDetail({ id: vm.article.id })" ui-sref-opts="{ reload: true }">Comments
                <span class="badge">{{vm.article.comments_count}}</span>
            </a>
        </li>
    </ul>
</div>
