<div class="modal-header">
    <button type="button" class="close" ng-click="vm.closeModal()">
        <i class="material-icons">close</i>
    </button>
    <h2 class="text-center no-margin">Register</h2>
</div>

<div class="modal-body">
    <form name="vm.form" ng-submit="vm.register()">
        <div class="alert alert-danger" ng-show="vm.errors.non_field_errors"
            ng-repeat="error in vm.errors['non_field_errors']">
                <span ng-bind="error"></span>
        </div>

        <div class="form-group no-margin" ng-class="{'has-error': vm.errors.email}">
            <label for="email" class="control-label">Email</label>
            <input type="email" class="form-control" id="email" name="email"
                ng-model="vm.email" placeholder="ex. joy@notgoogle.com" required>
            <span class="help" ng-if="vm.errors.email"
                ng-bind="vm.errors.email"></span>
        </div>

        <div class="form-group no-margin" ng-class="{'has-error': vm.errors.username}">
            <label for="username" class="control-label">Username</label>
            <input type="text" class="form-control" id="username" name="username"
                ng-model="vm.username" placeholder="ex. joy@notgoogle.com" required>
            <span class="help" ng-if="vm.errors.username"
                ng-bind="vm.errors.username"></span>
        </div>

        <div class="form-group no-margin" ng-class="{'has-error': vm.errors.password}">
            <label for="password" class="control-label">Password</label>
            <input type="password" class="form-control" id="password" name="password"
                ng-model="vm.password" placeholder="ex. thisisnotgoogleplus" required>
            <span class="help" ng-if="vm.errors.password"
                ng-bind="vm.errors.password"></span>
        </div>

        <div class="form-group no-margin" ng-class="{'has-error': vm.errors.confirm_password}">
            <label for="confirm_password" class="control-label">Confirm Password</label>
            <input type="password" class="form-control" id="confirm_password" name="confirm_password"
                ng-model="vm.confirm_password" placeholder="ex. thisisnotgoogleplus" required>
            <span class="help" ng-if="vm.errors.confirm_password"
                ng-bind="vm.errors.confirm_password"></span>
        </div>

        <div class="form-group no-margin">
            <button type="submit" class="btn btn-raised btn-primary btn-block">Sign Up</button>
            <a href="" class="pull-right" ng-click="vm.changeModal('login')">Already a member? Login</a>
        </div>
    </form>
</div>

<div class="modal-footer">
    <br>
</div>
