.custom-navbar {
    margin: 0;
    -webkit-box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 6px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 6px 0 rgba(0, 0, 0, 0.19);
}

.custom-navbar .custom-navbar-header .custom-navbar-brand {
    margin: 0;
}

.animated-hamburger {
    transition: all ease-in-out 0.5s;
    cursor: pointer;
    display: inline-block;
    float: left;
    padding: 15px 10px 15px 0;
}

.animated-hamburger span {
    transition: all ease-in-out 0.5s;
    background: #fff;
    border-radius: 3px;
    display: block;
    height: 2px;
    margin: 5px 0;
    width: 25px;
}

.animated-hamburger.active span:first-child {
    transition: all ease-in-out 0.5s;
    transform: rotate(45deg) translateX(4px) translateY(6px);
}

.animated-hamburger.active span:nth-child(2) {
    opacity: 0;
}

.animated-hamburger.active span:last-child {
    transition: all ease-in-out 0.5s;
    transform: rotate(-45deg) translateX(4px) translateY(-6px);
}

.sidebar-select {
    font-size: 30px;
    float: left;
    padding: 15px;
    margin-left: -15px;
    cursor: pointer;
}

.back-button {
    display: inline-block;
    float: left;
    padding: 16px 10px 12px 12px;
}

.back-button i {
    border: solid white;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 5px;
}

.back-button .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.back-button .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}


@media screen and (max-width: 1200px) {
    .animated-hamburger {
        padding: 12px 10px 12px 0
    }

    .back-button {
        padding: 22px 12px 14px 12px;
    }
}

@media screen and (max-width: 768px) {
    .animated-hamburger {
        padding-left: 12px;
    }

    .back-button {
        padding: 16px 10px 12px 12px;
    }
}
