.my-container {
    padding: 0;
    min-height: 100%;
}

.wrapper {
    min-height: 100%;
    height: 100%;
}

.my-btn-disable {
    opacity: 0.5;
    pointer-events: none;
}

.my-list-group-item {
    cursor: pointer;
}

.list-group-item-heading {
    margin-bottom: 20px;
}

.list-group .list-group-item .row-picture.my-profile-picture img {
    width: 150px;
    height: 150px;
}

.list-group .list-group-item .row-picture.my-profile-icon img {
    width: 70px;
    height: 70px;
}

.panel .panel-body h3 {
    margin-top: 10px;
}

/* view spinner css class */
.image-loader-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    background-color: white;
}

.image-loader-container .spinner svg {
    position: absolute;
    top: 42%;
    left: 46%;
    width: 8%;
    height: 16%;
    fill: rgb(71, 188, 195);
    stroke: rgb(71, 188, 195);
}



/* loading animation css */
.loading-background {
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.loading-element {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    background-color: rgb(71, 188, 195);
    z-index: 1000;
}

.loading-element .spinner svg {
    margin-top: 46vh;
    width: 8vh;
    height: 8vh;
    stroke: white;
    fill: white;
}

/* css to detect orientation and add overlay */
.orientation-element {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    background-color: rgb(71, 188, 195);
    z-index: 1000;
    display:none;
}

.orientation-element div {
    display: inline-block;
    margin-top: 44vh;
    width: 12vh;
    height: 12vh;
}

.orientation-element img {
    width: 100%;
}

@media all and (orientation: landscape) and (max-width: 767px) {
    .orientation-element {
         display: inherit;
    }
}



/* style for changing angular loading bar */
#loading-bar .bar {
    background: #000;
}

#loading-bar .peg {
    -moz-box-shadow: #fff 1px 0 6px 1px;
    -webkit-box-shadow: #fff 1px 0 6px 1px;
    box-shadow: #fff 1px 0 6px 1px;
}

#loading-bar-spinner .spinner-icon {
    border-top-color: #000;
    border-left-color: #000;
}
/* endstyle */

.side-menu-button {
    color: white;
}

.btn.btn-add-new-post {
    position: fixed;
    bottom: 30px;
    right: 25px;
    z-index: 100;
}

.no-content-here {
    text-align: center;
}

.my-user-item {
    display: block;
}

.my-user-item:hover {
    cursor: pointer;
}

.my-user-username {
    padding-left: 10px;
    font-weight: bold;
    padding-bottom: 20px;
    text-decoration: none;
}

.my-user-options {
    display: inline-block;
    position: relative;
    top: 5px;
    right: 10px;
    float: right;
}


.my-user-avatar {
    width: 40px;
    height: 40px;
    border-radius:50%;
    background-color: teal;
}

.my-user-date {
    padding-top: 5px;
    padding-left: 10px;
    text-decoration: none;
    display: inline-block;
    color: teal;
}

.my-content-header {
    padding: 5px 0 15px;
    border-bottom: 1px solid teal;
}

.my-content-body {
    padding: 20px 10px;
}

.my-content-footer {
    padding: 20px 10px;
}

.my-article-container {
    height: 500px;
    overflow: hidden;
}

.my-article-overlay {
    position: relative;
    height: 60px;
    top: -60px;
    background: -webkit-linear-gradient(transparent, white);
    background: -o-linear-gradient(transparent, white);
    background: -moz-linear-gradient(transparent, white);
    background: linear-gradient(transparent, white);
}

.my-wall {
}

.my-brick {
    width: 100%;
}

.load-more {
    margin-bottom: 30px;
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .my-brick {
        width: 100%;
        padding: 0 10% !important;
    }

    .box {
        margin: 10px !important;
    }
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
    .my-wall {
        padding: 0 10%;
    }

    .my-brick {
        width: 100%;
    }

    .box {
        margin: 10px !important;
    }
}

@media screen and (min-width: 1024px) {
    .my-wall {
        padding: 0 10%;
    }

    .my-brick {
        width: 50%;
    }

    .box {
        margin: 10px !important;
    }

}

@media screen and (min-width: 1201px) {
    body {
        padding-top: 80px;
    }
}

/* Bootstrap datepicker styles */
ul.dropdown-menu > li > div > table > tbody > tr > td > button {
    padding: 5px 10px !important;
    margin: 10px 0 !important;
}

/*ul.dropdown-menu > li > div > table > tbody > tr > td > button.active{
    background: transparent !important;
}

ul.dropdown-menu > li > div > table > tbody > tr > td > button.active > span.text-info {
    color: black;
}*/

ul.dropdown-menu > li > div > table > tbody > tr > td > button.btn-info {
    color: white !important;
}
