<div class="profile" ng-show="vm.profile">
    <div class="jumbotron">
        <div class="list-group text-center">
                <div class="list-group-item">
                    <div class="row-picture my-profile-picture">
                        <div class="">
                            <img class="circle" ng-src="{{vm.profile.image}}"
                                 alt="icon" my-image-loader e-class="spinner-profile">
                        </div>
                    </div>
                </div>
                <h1 class="">{{vm.profile.first_name}} {{vm.profile.last_name}}</h1>
                <h2 class="">+{{vm.profile.username}}</h2>
                <p class="">{{vm.profile.tagline}}</p>
            </div>
    </div>
</div>

<div class="col-md-8 col-md-offset-2 col-xs-12 no-padding" ng-show="vm.profile">
    <div class="well">
        <form role="form" class="settings" ng-submit="vm.updateAccount()">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" class="form-control" id="email"
                    ng-model="vm.user.email" name="email" disabled />
            </div>

            <div class="form-group" ng-class="{'has-error': vm.errors['username']}">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username"
                    ng-model="vm.user.username" name="username" placeholder="ex. notgoogleplus" />
                <span class="help" ng-if="vm.errors.username"
                    ng-bind="vm.errors.username"></span>
            </div>

            <div class="form-group" style="text-align: center">
                <button type="submit" class="btn btn-raised btn-block btn-primary">Submit</button>
            </div>
        </form>
    </div>

    <div class="well">
        <form role="form" class="settings" ng-submit="vm.updateProfile()">
            <div class="form-group" ng-class="{'has-error': vm.errors.first_name}">
                <label for="first_name">First name</label>
                <input type="text" class="form-control" id="first_name"
                    ng-model="vm.profile.first_name" placeholder="ex. notgoogleplus" />
                <span class="help" ng-if="vm.errors.first_name"
                    ng-bind="vm.errors.first_name"></span>
            </div>

            <div class="form-group" ng-class="{'has-error': vm.errors.last_name}">
                <label for="last_name">Last name</label>
                <input type="text" class="form-control" id="last_name"
                    ng-model="vm.profile.last_name" placeholder="ex. notgoogleplus" />
                <span class="help" ng-if="vm.errors.last_name"
                    ng-bind="vm.errors.last_name"></span>
            </div>

            <div class="form-group" ng-class="{'has-error': vm.errors.tagline}">
                <label for="tagline">Tagline</label>
                <input type="text" class="form-control" id="tagline"
                    ng-model="vm.profile.tagline" placeholder="ex. This is Not Google Plus." />
                <span class="help" ng-if="vm.errors.tagline"
                    ng-bind="vm.errors.tagline"></span>
            </div>

            <div class="form-group" ng-class="{'has-error': vm.errors.nickname}">
                <label for="nickname">Nickname</label>
                <input type="text" class="form-control" id="nickname"
                    ng-model="vm.profile.nickname" placeholder="ex. This is Not Google Plus." />
                <span class="help" ng-if="vm.errors.nickname"
                    ng-bind="vm.errors.nickname"></span>
            </div>

            <div class="form-group" ng-class="{'has-error': vm.errors.bio}">
                <label for="bio">Bio</label>
                <input type="text" class="form-control" id="bio"
                    ng-model="vm.profile.bio" placeholder="" />
                <span class="help" ng-if="vm.errors.bio"
                    ng-bind="vm.errors.bio"></span>
            </div>

            <div class="form-group" ng-class="{'has-error': vm.errors['dob']}">
                <label for="dob">Date of birth</label>
                <input type="text" class="form-control" id="dob"
                    uib-datepicker-popup="dd-MMMM-yyyy"
                    is-open="popup"
                    datepicker-options="datepickerOptions"
                    close-text="Close"
                    ng-model="vm.profile.dob"
                    placeholder="ex. Set your birthdate."
                    ng-click="popup=true" />
                <span class="help" ng-if="vm.errors.dob"
                    ng-bind="vm.errors.dob"></span>
            </div>

            <div class="form-group" ng-class="{'has-error': vm.errors.gender}">
                <label for="gender">Gender</label>
                <!-- <input type="text" class="form-control" id="gender"
                    ng-model="vm.profile.gender" placeholder="ex. Male/Female." /> -->
                <select name="gender" id="gender" ng-model="vm.profile.gender">
                    <option value="">-------</option>
                    <option ng-repeat="(key, value) in vm.genderChoices" value="{{key}}">{{value}}</option>
                </select>
                <span class="help" ng-if="vm.errors.gender"
                    ng-bind="vm.errors.gender"></span>
            </div>

            <div class="">
                <div class="form-group" style="text-align: center">
                    <button type="submit" class="btn btn-raised btn-primary">Submit</button>
                    <button type="button" class="btn btn-raised btn-danger"
                                    ng-click="vm.deleteAccount()">Delete Profile</button>
                </div>
            </div>

        </form>
    </div>
</div>
