<div class="profile" ng-show="vm.profile">
    <div class="jumbotron">
        <div class="list-group text-center">
                <div class="list-group-item">
                    <div class="row-picture my-profile-picture">
                        <div class="">
                            <img class="circle" ng-src="{{vm.profile.image}}" ng-if="vm.profile.image"
                                 alt="icon" my-image-loader-dir e-class="spinner-profile">
                            <img class="circle" src="/app/images/avatars/1.png" ng-if="!vm.profile.image"
                                 alt="icon">
                        </div>
                    </div>
                </div>
                <h1 class="">{{vm.profile.first_name}} {{vm.profile.last_name}}</h1>
                <h2 class="">+{{vm.profile.username}}</h2>
                <p class="">{{vm.profile.tagline}}</p>
            </div>
    </div>

    <my-tabset tab-list="vm.tabList"></my-tabset>

</div>
