<div class="profile" ng-show="vm.profile">
    <div class="jumbotron profile__header">
        <h1 class="profile__username">+{{vm.profile.username}}</h1>
        <p class="profile__tagline">{{vm.profile.tagline}}</p>
    </div>
</div>

<div class="my-wall">
    <div masonry="{transitionDuration: '0', stagger: '0s'}"
        ng-if="vm.posts.results && vm.posts.results.length > 0">
        <div class="masonry-brick my-brick" ng-repeat="post in vm.posts.results" init-masonry>
            <div class="well box">
                <div class="post">
                    <div class="">
                        <a class="post-user" href="#/+{{post.user.username}}">
                            <img src="" class="post-user-avatar">
                            +{{post.user.username}}
                        </a>
                    </div>

                    <div class="post-content">
                        <p class="text-adjust">{{post.content}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ng-if="vm.posts.results && !vm.posts.results.length">
        <div class="no-posts-here">
            <em>There are no posts here.</em>
        </div>
    </div>

    <div class="col-xs-12 col-md-4 col-md-offset-4" ng-if="vm.loadMore" ng-click="vm.getNextPosts()"
        ng-class="{'my-btn-disable': vm.showLoading}">
        <button type="button" class="btn btn-raised btn-info btn-block">
            Load More
        </button>
    </div>
</div>
