<div class="" ng-if="vm.post">
    <div class="jumbotron">
        <div class="" style="">
            <h1 class="text-center"
                style="overflow: hidden; text-overflow: ellipsis; padding: 0 10%;">{{vm.post.title}}</h1>

            <div class="list-group text-center">
                <div class="list-group-item">
                    <div class="row-picture my-profile-picture">
                        <div>
                            <img class="circle" ng-src="{{vm.post.user.image}}" alt="icon"
                                my-image-loader-dir e-class="spinner-profile">
                        </div>
                    </div>
                </div>
            </div>

            <div class="text-center">
                <div ng-if="vm.postId">
                    <p class="my-inline-block">
                        <a ui-sref="profile({username: vm.post.user.username})">
                            {{vm.post.user.first_name}} {{vm.post.user.last_name}}
                            <span>(+{{vm.post.user.username}})</span>
                        </a>
                    </p>
                </div>
                <div ng-if="!vm.postId">
                    <p class="my-inline-block">
                        <a ui-sref="profile({username: vm.profile.username})">
                            {{vm.profile.first_name}} {{vm.profile.last_name}}
                            <span>(+{{vm.profile.username}})</span></a>
                    </p>
                </div>

                <div ng-if="vm.postId">
                    <p class="no-margin">Created on: {{vm.post.created_at | date: 'd, MMM, yyyy'}}</p>
                    <p class="">Updated on: {{vm.post.updated_at | date: 'd, MMM, yyyy'}}</p>
                </div>

                <div class="togglebutton my-inline-block" style="padding-left: 20px;"
                    ng-if="vm.postId && vm.isOwner">
                    <label>
                        <input type="checkbox" ng-model="vm.editMode">
                        <span class="toggle"></span>Edit Post
                    </label>
                </div>

                <div class="row no-padding" ng-if="vm.postId">
                    <div class="col-xs-12 col-md-6 no-padding">
                        <div class="col-xs-12 col-md-2 no-padding">
                            <button type="button" class="btn"
                                    ng-click="vm.doLike(true)"
                                    ng-class="{'teal': vm.post.liked === true}">
                                <span class="">
                                    <i class="material-icons">thumb_up</i>
                                    {{vm.post.likes_count}}
                                </span>
                            </button>
                        </div>

                        <div class="col-xs-12 col-md-2 no-padding">
                            <button type="button" class="btn"
                                    ng-click="vm.doLike(false)"
                                    ng-class="{'teal': vm.post.liked === false}">
                                <span class="">
                                    <i class="material-icons">thumb_down</i>
                                    {{vm.post.dislikes_count}}
                                </span>
                            </button>
                        </div>

                        <div class="col-xs-12 col-md-2 no-padding">
                            <button type="button" class="btn">
                                <span class="">
                                    <i class="material-icons">comment</i>
                                    {{vm.post.comments_count}}
                                </span>
                            </button>
                        </div>
                    </div>

                    <div class="col-xs-12 col-md-6 no-padding">
                        <div class="col-xs-12 col-md-6 col-md-offset-6 no-padding">
                            <button type="button" class="btn btn-raised btn-danger" ng-if="vm.isOwner"
                                    ng-click="vm.doDelete()">Delete Post</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="" ng-if="vm.post && vm.postId && !vm.editMode">
    <div class="jumbotron" style="padding: 20px">
        <post-preview post="vm.post"></post-preview>
    </div>
</div>

<post-form post-id="vm.postId"
           post="vm.post"
           edit-mode="vm.editMode"
           form-title="vm.formTitle"
           on-create="vm.doCreate(post)"
           on-update="vm.doUpdate(post)"></post-form>

<div ng-if="vm.postId && vm.post">
    <comment-component comment-type="posts"
                       comment-parent="vm.post"></comment-component>
</div>
