<div class="row">
    <div class="col-xs-12">
        <div class="col-md-offset-5 col-md-3 col-xs-12">
            <select class="form-control" style="background-color: white; margin: 20px 0;"
                    ng-model="vm.params.o"
                    ng-change="vm.onSortChange()">
                <option value="{{option.value}}" ng-bind="option.key"
                    ng-repeat="option in vm.sortOptions track by option.key"></option>
                <!-- <option value="created_at" index="0">Sort by date asc</option> -->
                <!-- <option value="-created_at" index="1">Sort by date desc</option> -->
            </select>
            <!-- <ui-select ng-model="vm.params.o" ng-class="{'my-ui-select': true}">
                <ui-select-match>
                    <span ng-bind="$select.selected.key"></span>
                </ui-select-match>
                <ui-select-choices repeat="option.value as option in vm.sortOptions">
                    <span ng-bind="option.key"></span>
                </ui-select-choices>
            </ui-select> -->
        </div>

        <div class="col-md-4 col-xs-12 text-center">
            <ul uib-pagination
                ng-if="vm.totalItems"
                total-items="vm.totalItems"
                items-per-page="vm.itemsPerPage"
                max-size="vm.maxSize ? vm.maxSize : 5"
                ng-model="vm.params.page"
                ng-change="vm.onPageChange()"
                previous-text="&lsaquo;"
                next-text="&rsaquo;">
            </ul>
        </div>
    </div>
</div>

<div class="my-wall">
    <div ng-if="vm.posts.results && vm.posts.results.length" class="">
        <div class="my-brick" ng-repeat="post in vm.posts.results" my-ng-repeat-finished>

            <div class="well box">
                <div class="my-content-header">
                    <div class="my-user-item" ui-sref="postDetail({ id: post.id })">
                        <a class="my-user-username" ui-sref="profile({ username: post.user.username })"
                           ng-click="$event.stopPropagation()">
                            <img class="my-user-avatar" src="http://i.stack.imgur.com/Dj7eP.jpg">
                            +{{post.user.username}}</a>
                        <div class="my-user-date">
                            <span>{{ post.updated_at | date: 'd, MMM, yyyy' }}</span>
                        </div>
                    </div>
                </div>

                <div class="my-content-body">

                    <h2 class="text-adjust">{{post.title}}</h2>
                    <br>
                    <h4 class="text-adjust">{{post.content}}</h4>

                    <div id="file" class="post-media row" ng-if="post.file">
                        <div class="col-xs-12" ng-if="post.file.file_type === 'image'">
                            <div>
                                <img ng-src="{{post.file.file}}" alt="image"
                                    class="img-responsive" my-image-loader-dir>
                            </div>
                        </div>
                        <div class="col-xs-12" ng-if="post.file.file_type === 'video'">
                            <div class="video-js-responsive-container vjs-hd">
                                <video id="my-player-{{$index}}"
                                       class="video-js"
                                       controls
                                       preload="none"
                                       ng-src="{{post.file.file}}"
                                       my-video-js-dir>
                                    <source ng-src="{{post.file.file}}" type="video/mp4">
                                    <source ng-src="{{post.file.file}}" type="video/ogg">
                                    <source ng-src="{{post.file.file}}" type="video/webm">

                                    <p class="vjs-no-js">
                                        To view this video please enable JavaScript, and consider upgrading to a
                                        web browser thatsupports HTML5 video
                                    </p>
                                </video>
                            </div>
                        </div>
                    </div>
                </div>

                <ul class="nav nav-pills">
                    <li class="active">
                        <a ui-sref="postDetail({ id: post.id })">Comments
                            <span class="badge">{{post.comments_count}}</span>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </div>

    <div ng-if="vm.posts.results && !vm.posts.results.length" class="" style="">
        <div class="no-content-here">
            <em>There are no posts here.</em>
        </div>
    </div>
</div>

<!--<div class="col-xs-12 col-md-4 col-md-offset-4 load-more" ng-if="vm.loadMore"-->
    <!--ng-click="vm.getNextPosts()" ng-class="{'my-btn-disable': vm.showLoading}">-->
    <!--<button type="button" class="btn btn-raised btn-info btn-block">Load More</button>-->
<!--</div>-->
<div class="row">
    <div class="col-xs-12">
        <div class="col-md-offset-8 col-md-4 col-xs-12">
            <uib-pagination ng-if="vm.totalItems"
                            total-items="vm.totalItems"
                            items-per-page="vm.itemsPerPage"
                            max-size="vm.maxSize ? vm.maxSize : 5"
                            ng-model="vm.params.page"
                            ng-change="vm.onPageChange()"></uib-pagination>
        </div>
    </div>
</div>

<a href="javascript:void(0)"
    class="btn btn-primary btn-fab btn-raised btn-add-new-post"
    ui-sref="postNew"
    ng-if="vm.isAuthenticated">
    <i class="material-icons">add</i>
</a>
