<div class="modal-header">
    <button type="button" class="close" ng-click="vm.closeModal()">
        <i class="material-icons">close</i>
    </button>
    <h2 class="text-center no-margin">Select File</h2>
</div>

<div class="modal-body">
    <form name="vm.form" ng-submit="vm.submit()">
        <div class="file-wrapper">
            <div class="outer-file-item" ng-repeat="file in vm.files.results"
                 ng-click="vm.selectFile(file)"
                 ng-class="vm.selectedFile.id === file.id ? 'selected-file': ''">
                <div class="inner-file-item">
                    <img class="file-item-img" ng-src="{{file.file}}" ng-if="file.file">
                    <img class="file-item-img" ng-if="!file.file"
                        ng-src="{{'http://127.0.0.1:4567/notgoogleplus-media/' + file.file_name}}">
                </div>
            </div>
        </div>

        <div class="form-group text-center">
            <button type="submit" class="btn btn-raised btn-primary">Submit</button>
        </div>
    </form>
    <div class="text-center">
        <my-progress-bar-dir></my-progress-bar-dir>
        <my-upload-dir></my-upload-dir>
        <!-- <my-s3-upload-dir></my-s3-upload-dir> -->
    </div>
</div>

<div class="modal-footer"></div>

<style>
    .selected-file {
        border: 5px solid teal;
    }

    .my-modal.upload-modal .modal-body {
        padding-left: 10px;
        padding-right: 10px;
    }
</style>
