<nav class="navbar navbar-default navbar-fixed-top custom-navbar" role="navigation" my-navbar-dir>
    <div class="container-fluid">
        <div class="navbar-header custom-navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                data-toggle="collapse" data-target="#not-google-plus-nav">
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <div id="back-button" class="back-button" ng-if="vm.showBackButton" ng-click="vm.goBack()">
                <a>
                <i class="arrow left"></i>
                </a>
            </div>

            <div id="sidebar-toggle" class="animated-hamburger" my-sidebar-dir ng-if="vm.showSidebarButton">
                <span></span>
                <span></span>
                <span></span>
            </div>

            <a class="navbar-brand custom-navbar-brand" ng-if="vm.showNavbarBrand"
                ui-sref="home" ui-sref-opts="{ reload: true }" my-ripples-dir>NotGooglePlus</a>
        </div>

        <div class="collapse navbar-collapse" id="not-google-plus-nav">
            <ul class="nav navbar-nav pull-right" ng-if="vm.isAuthenticated && vm.user">
                <li>
                    <a ui-sref="profile({ username: vm.user.username })">+{{vm.user.username}}</a>
                </li>
                <li>
                    <a ui-sref="profileSettings({ username: vm.user.username })">Settings</a>
                </li>
                <li>
                    <a href="" ng-click="vm.logout()">Logout</a>
                </li>
            </ul>
            <ul class="nav navbar-nav pull-right" ng-if="!vm.isAuthenticated">
                <li>
                    <a href="" ng-click="vm.openLoginModal()">Sign in/Sign up</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<style type="text/css"></style>
