<nav class="navbar navbar-default navbar-fixed-top custom-navbar" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header custom-navbar-header">

            <button type="button" class="navbar-toggle collapsed"
                data-toggle="collapse" data-target="#not-google-plus-nav">
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <div id="sidebar-toggle" class="animated-hamburger" my-sidebar-dir>
                <span></span>
                <span></span>
                <span></span>
            </div>

            <a class="navbar-brand custom-navbar-brand"
                ui-sref="home" ui-sref-opts="{ reload: true }" my-ripples-dir>NotGooglePlus</a>
        </div>

        <div class="collapse navbar-collapse" id="not-google-plus-nav">
            <ul class="nav navbar-nav pull-right" ng-if="vm.isAuthenticated && vm.user">
                <li>
                    <a ui-sref="profile({ username: vm.user.username })"
                        ui-sref-opts="{ reload: true }"
                        data-toggle="collapse"
                        data-target="#not-google-plus-nav">+{{vm.user.username}}</a>
                </li>
                <li>
                    <a ui-sref="profileSettings({ username: vm.user.username })"
                        ui-sref-opts="{ reload: true }"
                        data-toggle="collapse"
                        data-target="#not-google-plus-nav">Settings</a>
                </li>
                <li>
                    <a href="javascript:void(0)"
                       data-toggle="collapse"
                       data-target="#not-google-plus-nav" ng-click="vm.logout()">Logout</a>
                </li>
            </ul>
            <ul class="nav navbar-nav pull-right" ng-if="!vm.isAuthenticated">
                <li>
                    <a href="javascript:void(0)"
                       data-toggle="collapse"
                        data-target="#not-google-plus-nav" ng-click="vm.openLoginModal()">Sign in/Sign up</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<style type="text/css">

    .custom-navbar {
        margin: 0;
    }

    .custom-navbar .custom-navbar-header .custom-navbar-brand {
        margin: 0;
    }

    .animated-hamburger {
        transition: all ease-in-out 0.5s;
        cursor: pointer;
        display: inline-block;
        float: left;
        padding: 15px 10px 15px 0;
    }

    .animated-hamburger span {
        transition: all ease-in-out 0.5s;
        background: #fff;
        border-radius: 3px;
        display: block;
        height: 2px;
        margin: 5px 0;
        width: 25px;
    }

    @media screen and (max-width: 1200px) {
        .animated-hamburger {
            padding: 12px 10px 12px 0
        }
    }

    @media screen and (max-width: 768px) {
        .animated-hamburger {
            padding-left: 12px;
        }
    }

    .animated-hamburger.active span:first-child {
        transition: all ease-in-out 0.5s;
        transform: rotate(45deg) translateX(4px) translateY(6px);
    }

    .animated-hamburger.active span:nth-child(2) {
        opacity: 0;
    }

    .animated-hamburger.active span:last-child {
        transition: all ease-in-out 0.5s;
        transform: rotate(-45deg) translateX(4px) translateY(-6px);
    }

    .sidebar-select {
        font-size: 30px;
        float: left;
        padding: 15px;
        margin-left: -15px;
        cursor: pointer;
    }

</style>
