<div class="" ng-if="vm.article">
    <div class="jumbotron">
        <div class="" style="">
            <h1 class="text-center"
                style="overflow: hidden; text-overflow: ellipsis; padding: 0 10%;">{{vm.article.title}}</h1>

            <div class="list-group text-center">
                <div class="list-group-item">
                    <div class="row-picture my-profile-icon">
                        <div>
                            <img class="circle" ng-src="{{vm.article.user.image}}" ng-if="vm.article.user.image"
                                alt="icon" my-image-loader-dir e-class="spinner-profile">
                            <img class="circle" src="/app/images/avatars/1.png" ng-if="!vm.article.user.image"
                                 alt="icon">
                        </div>
                    </div>
                </div>
            </div>

            <div class="text-center">
                <div ng-show="vm.articleId">
                    <p class="my-inline-block">
                        <a ui-sref="profile({username: vm.article.user.username})">
                            {{vm.article.user.first_name}} {{vm.article.user.last_name}}
                            <span>(+{{vm.article.user.username}})</span>
                        </a>
                    </p>
                </div>
                <div ng-show="!vm.articleId">
                    <p class="my-inline-block">
                        <a ui-sref="profile({username: vm.profile.username})">
                            {{vm.profile.first_name}} {{vm.profile.last_name}}
                            <span>(+{{vm.profile.username}})</span></a>
                    </p>
                </div>

                <div ng-show="vm.articleId">
                    <p class="no-margin">Created on: {{vm.article.created_at | date: 'd, MMM, yyyy'}}</p>
                    <p class="">Updated on: {{vm.article.updated_at | date: 'd, MMM, yyyy'}}</p>
                </div>

                <div class="togglebutton my-inline-block" style="padding-left: 20px;"
                         ng-if="vm.articleId && vm.isOwner">
                    <label>
                        <input type="checkbox" ng-model="vm.editMode">
                        <span class="toggle"></span>Edit Article
                    </label>
                </div>

                <div class="col-xs-12 col-md-6 col-md-offset-3 no-padding no-float">
                    <a href="" ng-repeat="tag in vm.tagsList"
                       ng-if="vm.article.tags.indexOf(tag.id) !== -1"
                       style="margin-right: 10px;"
                       class="btn btn-raised btn-sm btn-primary">{{tag.tag}}</a>
                </div>

                <div class="row no-padding" ng-show="vm.articleId">
                    <div class="col-xs-12 col-md-6 no-padding">
                        <div class="col-xs-12 col-md-2 no-padding">
                            <button type="button" class="btn"
                                    ng-click="vm.doLike(true)"
                                    ng-class="{'teal': vm.article.liked === true}">
                                <span class="">
                                    <i class="material-icons">thumb_up</i>
                                    {{vm.article.likes_count}}
                                </span>
                            </button>
                        </div>

                        <div class="col-xs-12 col-md-2 no-padding">
                            <button type="button" class="btn"
                                    ng-click="vm.doLike(false)"
                                    ng-class="{'teal': vm.article.liked === false}">
                                <span class="">
                                    <i class="material-icons">thumb_down</i>
                                    {{vm.article.dislikes_count}}
                                </span>
                            </button>
                        </div>

                        <div class="col-xs-12 col-md-2 no-padding">
                            <button type="button" class="btn">
                                <span class="">
                                    <i class="material-icons">comment</i>
                                    {{vm.article.comments_count}}
                                </span>
                            </button>
                        </div>
                    </div>

                    <div class="col-xs-12 col-md-6 no-padding">
                        <div class="col-xs-12 col-md-6 col-md-offset-6 no-padding">
                            <button type="button" class="btn btn-raised btn-danger" ng-if="vm.isOwner"
                                    ng-click="vm.doDelete()">Delete Article</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="" ng-if="vm.article && vm.articleId && !vm.editMode">
    <div class="jumbotron" style="padding: 20px">
        <article-preview article="vm.article"></article-preview>
    </div>
</div>

<article-form article-id="vm.articleId"
              article="vm.article"
              tags-list="vm.tagsList"
              edit-mode="vm.editMode"
              form-title="vm.formTitle"
              on-create="vm.doCreate(article)"
              on-update="vm.doUpdate(article)"></article-form>

<div ng-if="vm.articleId && vm.article">
    <comment-component comment-type="articles"
                       comment-parent="vm.article"></comment-component>
</div>
