<div class="row">
    <div class="col-xs-12">
        <div class="col-md-offset-5 col-md-3 col-xs-12">
            <select class="form-control" style="background-color: white; margin: 20px 0;"
                    ng-model="vm.params.o"
                    ng-change="vm.onSortChange()">
                <option value="{{option.value}}" ng-bind="option.key"
                        ng-repeat="option in vm.sortOptions track by option.key"></option>
                <!-- <option value="created_at" index="0">Sort by date asc</option> -->
                <!-- <option value="-created_at" index="1">Sort by date desc</option> -->
            </select>

        </div>

        <div class="col-md-4 col-xs-12 text-center">
            <ul uib-pagination
                ng-if="vm.totalItems"
                total-items="vm.totalItems"
                items-per-page="vm.itemsPerPage"
                max-size="vm.maxSize ? vm.maxSize : 5"
                ng-model="vm.params.page"
                ng-change="vm.onPageChange()">
            </ul>
        </div>
    </div>
</div>

<div class="my-articles-container col-xs-12 col-md-10 col-md-offset-1">
    <div ng-if="vm.articles.results && vm.articles.results.length" class="">
        <div ng-repeat="article in vm.articles.results">

            <div class="well box">
                <div class="my-article-container">
                    <div class="my-content-header">
                        <div class="my-user-item" ui-sref="articleDetail({ id: article.id, article: vm.article })">
                            <a class="my-user-username" ui-sref="profile({ username: article.user.username })"
                               ng-click="$event.stopPropagation()">
                                <img class="my-user-avatar" ng-src="{{article.user.image}}" ng-if="article.user.image">
                                <img class="my-user-avatar" src="/app/images/avatars/1.png" ng-if="!article.user.image">
                                +{{article.user.username}}</a>
                            <div class="my-user-date">
                                <span>{{ article.updated_at | date: 'd, MMM, yyyy' }}</span>
                            </div>
                        </div>
                    </div>

                    <div class="my-content-body">
                        <div class="text-center">
                            <h1 class="text-adjust">{{article.title}}</h1>
                        </div>

                        <div class="text-center">
                            <h2 class="text-adjust">{{article.description}}</h2>
                        </div>

                        <div class="my-content">
                            <div class="text-adjust" ng-bind-html="vm.markdown(article.content)"></div>
                        </div>
                    </div>
                </div>

                <div class="my-article-overlay" style=""></div>

                <div class="text-center">
                    <a ui-sref="articleDetail({ id: article.id })">
                        <h3>Read More</h3>
                    </a>
                </div>

                <br>

                <ul class="nav nav-pills">
                    <li class="active">
                        <a ui-sref="articleDetail({ id: article.id })">Comments
                            <span class="badge">{{article.comments_count}}</span>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </div>

    <div ng-if="vm.articles.results && !vm.articles.results.length">
        <div class="no-content-here">
            <em>There are no articles here.</em>
        </div>
    </div>

</div>

<!--<div class="col-xs-12 col-md-4 col-md-offset-4 load-more" ng-if="vm.loadMore"-->
     <!--ng-click="vm.getNextArticles()" ng-class="{'my-btn-disable': vm.showLoading}">-->
    <!--<button type="button" class="btn btn-raised btn-info btn-block">Load More</button>-->
<!--</div>-->

<div class="row">
    <div class="col-xs-12">
        <div class="col-md-offset-8 col-md-4 col-xs-12">
            <uib-pagination ng-if="vm.totalItems"
                            total-items="vm.totalItems"
                            items-per-page="vm.itemsPerPage"
                            max-size="vm.maxSize ? vm.maxSize : 5"
                            ng-model="vm.params.page"
                            ng-change="vm.onPageChange()"></uib-pagination>
        </div>
    </div>
</div>

<a class="btn btn-primary btn-fab btn-raised btn-add-new-post"
    ui-sref="articleNew"
    ng-if="vm.isAuthenticated">
    <i class="material-icons">add</i>
</a>
